[core]
  editor = vim
  excludesfile = ~/.gitignore
[alias]
  st = status
  co = checkout
  ci = commit
  br = branch
  cp = cherry-pick
  review = log -p --reverse -M -C -C --patience --no-prefix
	l = log --pretty=format:'%C(yellow)%h%C(reset)%C(auto)%d%C(reset) %s %C(dim)(%cr)%C(reset)'
	ll = log --pretty=format:'%C(yellow)%h%C(reset)%C(auto)%d%C(reset) %C(dim)%ad%C(reset) %s' --date=short
	lg = log --graph --pretty=format:'%C(yellow)%h%C(reset)%C(auto)%d%C(reset) %s %C(dim)(%cr)%C(reset)'
  rip = !git reset --hard HEAD && git clean -d -f
  next-version = "!f() { latest=$(git tag --sort=-v:refname | head -1); echo \"Latest: $latest\"; IFS=. read -r major minor patch <<< \"$latest\"; echo \"Next patch: $major.$minor.$((patch+1))\"; echo \"Next minor: $major.$((minor+1)).0\"; }; f"
  nv = next-version
[apply]
  whitespace = nowarn
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
	ui = true
[branch]
  autosetupmerge = true
[user]
  name = {{ .name }}
  email = {{ .email }}
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGHOncfJWwsXugVSekXQTWouJ8kGkPmfsO92KE2UbGTF
[push]
  default = simple
[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f
[diff]
  compactionHeuristic = true
[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
[pager]
	branch = false
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[pull]
	rebase = true
[init]
	defaultBranch = main
[rebase]
  autostash = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
