[data]
  email = "fred@helloform.com"
  name = "Fred Oliveira"

encryption = "age"

[age]
  identity = "~/.config/chezmoi/key.txt"
  recipient = "age1xf9f3ul8qc8xj5nwul4svq7d9mpmpunysfs5hejjuegkw9k3du5qyhd2wy"
