{{- $install_casks := promptBoolOnce . "casks" "casks" -}}
{{- $is_desktop := promptBoolOnce . "desktop" "desktop" -}}

[data]
  email = "fred@helloform.com"
  name = "Fred Oliveira"
  onepasswordAccount = "LJ65XUOQ6VE5PFSTMCUCXSVGYY"
  cfonepasswordAccount = "BEPGXQBVXND5NGNZHD2YJMA6B4"
  casks = {{ $install_casks }}
  desktop = {{ $is_desktop }}
