#!/bin/sh

# Install homebrew if it doesn't exist yet
if [ -z "$(which brew)" ]; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  echo 'eval "$(/opt/homebrew/bin/brew shellenv)"' >> $HOME/.zprofile
  eval "$(/opt/homebrew/bin/brew shellenv)"
fi

# Install packages
brew install zsh
brew install tmux
brew install fzf
brew install ripgrep
brew install fd
brew install eza
brew install wget
brew install btop
brew install git
brew install git-flow
brew install yt-dlp
brew install mise
brew install zoxide
brew install gh
brew install neovim
brew install atuin

# Syncthing
brew install syncthing
brew services restart syncthing

# Install casks
{{ if .casks -}}
brew install firefox
brew install ghostty
brew install 1password
brew install spotify
brew install fantastical
brew install mimestream
brew install obsidian
brew install discord
{{ end -}}

# Install fonts
brew install font-iosevka-nerd-font-mono

# Antidote for zsh
git clone --depth=1 https://github.com/mattmc3/antidote.git ${ZDOTDIR:-~}/.antidote

# Install TPM for tmux
git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm

# Mise setup
brew install libyaml # Ruby dependency
mise install

# Mac App Store apps
brew install mas
mas install 1435957248    # Drafts
mas install 1475387142    # Tailscale
mas install 1542143627    # Omnifocus

# fzf shell completion/keybindings setup
/opt/homebrew/opt/fzf/install --all --no-bash --no-fish
