#!/bin/sh

# Install homebrew if it doesn't exist yet
if [ -z "$(which brew)" ]; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  echo 'eval "$(/opt/homebrew/bin/brew shellenv)"' >> $HOME/.zprofile
  eval "$(/opt/homebrew/bin/brew shellenv)"
fi

# Install packages
brew install zsh
brew install tmux
brew install fzf
brew install ripgrep
brew install fd
brew install eza
brew install wget
brew install btop
brew install git
brew install git-flow
brew install yt-dlp
brew install gpg
brew install age
brew install zoxide
brew install uv
brew install mise
brew install lazygit

# Syncthing
brew install syncthing
brew services restart syncthing

# Install casks
{{ if .casks -}}
brew install firefox
brew install iterm2
brew install visual-studio-code
brew install 1password
brew install 1password-cli
brew install alfred
brew install spotify
brew install telegram
brew install transmit
brew install fantastical
brew install mimestream
brew install obsidian
brew install discord
brew install rectangle-pro
brew install keyboardcleantool
brew install slack
brew install devonthink
brew install appcleaner
brew install hiddenbar
brew install linearmouse
brew install keyboard-maestro
{{ end -}}

# Install fonts
brew install font-inter
brew install font-monaspace-nerd-font
brew install font-iosevka-nerd-font
brew install font-jetbrains-mono-nerd-font
brew install font-ia-writer-duo
brew install font-ia-writer-duospace
brew install font-ia-writer-mono
brew install font-ia-writer-quattro
brew install font-roboto

# Antidote for zsh
git clone --depth=1 https://github.com/mattmc3/antidote.git ${ZDOTDIR:-~}/.antidote

# Mise setup
mise settings set python_compile 1 # Because I use poetry. Probably unnecessary once I drop poetry for uv
mise install

# Neovim setup
brew install neovim

# Mac App Store apps
brew install mas
mas install 1435957248    # Drafts
mas install 1475387142    # Tailscale
mas install 1542143627    # Omnifocus
# mas install 1289197285  # Mindnode
# mas install 497799835   # Xcode
# mas install 1451685025  # Wireguard
# mas install 409183694   # Keynote

# fzf shell completion/keybindings setup
/opt/homebrew/opt/fzf/install --all --no-bash --no-fish
