"$schema" = 'https://starship.rs/config-schema.json'

add_newline = true

format = """
$username\
$hostname\
$directory\
$git_branch\
$git_status\
$cmd_duration\
$line_break\
$character"""

# Hostname
[hostname]
ssh_only = false
format = "[@$hostname]($style) "
style = "bold green"

# Directory
[directory]
truncate_to_repo = true
style = "bold cyan"

# Git branch
[git_branch]
format = "[$symbol$branch]($style) "
#symbol = " "
style = "purple"

# Git status
[git_status]
format = '([$all_status$ahead_behind]($style) )'
style = "red"
conflicted = "="
ahead = "⇡${count}"
behind = "⇣${count}"
diverged = "⇕⇡${ahead_count}⇣${behind_count}"
untracked = "?"
stashed = "*"
modified = "!"
staged = "+"
renamed = "»"
deleted = "✘"

# Command duration (only shows if > 2 seconds)
[cmd_duration]
format = "[$duration]($style) "
style = "yellow"

# Prompt character
[character]
success_symbol = "[❯](green)"
error_symbol = "[❯](red)"
vimcmd_symbol = "[❮](green)"
